$include /etc/inputrc

$if Bash
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set mark-modified-lines on
set mark-symlinked-directories on
set match-hidden-files off
set revert-all-at-newline on
set skip-completed-text on
set visible-stats on
$endif
