! ~/.Xresources

*.foreground:   #ffffff
*.background:   #161616
*.color0:       #222222
*.color8:       #666666
*.color1:       #e84f4f
*.color9:       #d23d3d
*.color2:       #b7ce42
*.color10:      #bde077
*.color3:       #fea63c
*.color11:      #ffe863
*.color4:       #66aabb
*.color12:      #aaccbb
*.color5:       #b7416e
*.color13:      #e16a98
*.color6:       #6d878d
*.color14:      #42717b
*.color7:       #dddddd
*.color15:      #cccccc

Xft.dpi: 120
Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

URxvt.font: xft:UW Ttyp0:pixelsize=16
URxvt.loginShell: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.scrollBar: false
URxvt.internalBorder: 2
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.saveLines: 65536
URxvt.urgentOnBell: true
URxvt.pointerBlank: true
